.fade{
    animation: transitionIn 0.75s;
}
body {
    background-color:#2f3136;
}

h1 {
    color:whitesmoke;
}

#right-container {
    margin-left:10px;
    display: flex;
    font-family:arial;
    flex-direction: column;
}

#right-container button {
    width:150px;
}
#right-container div {
    border-radius: 10px;
}

.leaflet-routing-alt td {
    color:black;
}
button {
    margin-top: 5px;
    margin-left:2px;
    border-radius: 10px;
    height:50px;
    text-decoration: none;
}

button a{
    text-decoration: none;
}
#map {
    animation: transitionIn 0.75s;
    width:800px;
    min-height: 900px;
    height:950px;
    border-radius: 15px;
    box-shadow: white 0px 1px 2px 0px, white 0px 2px 6px 2px; 
    /* border: 5px solid white;
    outline-style: solid;
    outline-color: white; */
}
#map-container {
    animation: transitionIn 0.75s;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#left-side {
    animation: transitionIn 0.75s;
    font-family: arial;
    border-radius: 15px;
    width:600px;
    height: 950px;
}

#building {
    animation: transitionIn 0.75s;
    background-color: #36393E;
    margin-top: 50px;
    margin-right: 20px;
    height:365px;
}

#building-title {
    animation: transitionIn 0.75s;
    color: white;
    font-size: 25px;
    margin: 5px;
}

#building button {
    animation: transitionIn 0.75s;
    height: 20px;
    background-color:lightcyan
}
#building-scroll {
    animation: transitionIn 0.75s;
    background: white;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: inherit;
}
#event {
    animation: transitionIn 0.75s;
    position:relative;
    height:500px;
    margin-right: 20px;
    border-radius: 15px;
    background-color: #36393E;
}

#event-title {
    animation: transitionIn 0.75s;
    color: white;
    font-size: 25px;
    margin: 5px;
}

#event-scroll{
    animation: transitionIn 0.75s;
    background-color:white;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: inherit;
}

.event-details,.building-name {
    animation: transitionIn 0.75s;
    font-size: 15px;
    width:100%;
    margin: 0px;
    justify-content: left;
    border: 1px solid black;
    padding-left: 5px;
    padding-top:5px;
    padding-bottom: 5px;
    color:black;
}

.building-name {
    animation: transitionIn 0.75s;
    text-align: center;
}
.event-details:hover,.building-name:hover {
    animation: transitionIn 0.75s;
    background-color: deepskyblue;
    font-weight:bold;
    cursor: pointer;
}

tr{
    animation: transitionIn 0.75s;
    color:whitesmoke;
}

th{
    animation: transitionIn 0.75s;
    color:whitesmoke;
}

@keyframes transitionIn{
    from {
        opacity: 0;
        transform: rotateY(-10px)
    }
    
    to { 
        opacity: 1;
        transform: rotateY(0)
    }
}
